<br/> <h2 class="w3-wide w3-center">DOCTORS</h2><br />

<table class="table">
  <thead class="thead-light">
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Dob</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Gender</th>
      <th>Discipline</th>
      <th>Hourly rate</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @doctors.each do |doctor| %>
      <tr>
        <td><%= doctor.first_name %></td>
        <td><%= doctor.last_name %></td>
        <td><%= doctor.dob %></td>
        <td><%= doctor.address %></td>
        <td><%= doctor.phone %></td>
        <td><%= Person.genders.key(doctor.gender) %></td>
        <td><%= doctor.discipline %></td>
        <td><%= doctor.hourly_rate %></td>
        <td><%= link_to 'Show', doctor %></td>
        <td><%= link_to 'Edit', edit_doctor_path(doctor) %></td>
        <td><%= link_to 'Destroy', doctor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Appointments', doctor_appointments_path(doctor) %></td>
        <td><%= link_to 'Prescriptions', doctor_prescriptions_path(doctor) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


