<div class="container">
  <%= simple_form_for(@appointment, html: { class: "appointmet-form"} ) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  
    <div class="form-inputs">
      <%= f.input :doctor_id, collection: Doctor.all, label_method: :full_name, value_method: :id, label: "Doctor", include_blank: true,
        :input_html => { :onchange => "getDoctor(value)" }
      %>
      <%= f.input :appointment_date, as: :date, html5: true %>
      <%= f.input :appointment_time, as: :time, html5: true %>
      <%= f.input :total_hours, input_html: { min: '1', max: '4', :onkeyup => "calculateAmmount(value)" } %>
    </div>
    
    
    <p>Hourly Rate: <label id="labelHR"></label></p>
    <strong><p align="right">Total Amount: <label id="labelAmount">0.00</label></p></strong>
    
    <%= render "payment_form" %>
    <br/>
    
    <div class="form" align="center">
    <input class="btn btn-primary" type="submit" value="Submit" name="commit" align="right">
    </div>
  <% end %>
</div>
 
 
 
<script>

var hourlyRate = 0;
var hours_selected = 0;

function getDoctor(docID) {
  $.ajax({
    url: "/people/" + docID,
    type: "GET",
    dataType: "json",
    success: function(result) {
      hourlyRate = result.hourly_rate;
      document.all('labelHR').innerHTML = parseFloat(hourlyRate).toFixed(2);
      if (hours_selected) {
        var ammount = 0;
        ammount = hours_selected*hourlyRate;
        document.all('labelAmount').innerHTML = parseFloat(ammount).toFixed(2);
      }
    },
    error: function() {
      alert("Ajax error!")
    }
  });
}

function calculateAmmount(hours) {
  var ammount = 0;
  hours_selected = hours;
  if (hours) {
    ammount = hours*hourlyRate;  
  }
  document.all('labelAmount').innerHTML = parseFloat(ammount).toFixed(2);
}
  
</script>
